html, body, #root, #root>div {
    height: 100%;
    margin: 0;
  }

.text{
    font-size: 28pt;
    color: black;
}

.item{
    margin: 20px;
    /* font-size: 20pt; */
    color: black;
    font-family: 'Merienda', cursive;

    justify-content: 'center';
    align-items: 'center';
}

.author{
    font-size: 16pt;
    color: black;
}
